.page-title{
    text-align: center;
}

.app-content-container{
    padding-top: 25px;
}

.carousel-image{
    width: 100%;
    height: 300px;
}

.main-features{
    margin-top: 15px;
    display: flex;
    gap: 0px 10px;
    height: 200px;
}

.main-features > *{
    width: 100%;
    height: 100%;
}
