*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
}

html{
    /* border: 3px solid green; */
    width: 100%;
    height: 100%;
}

.App{
    /* border: 3px solid blue; */
    width: 100%;
    height: 100%;
}

#root{
    /* border: 3px solid yellow; */
    width: 100%;
    height: 100%;
}