:root{
    --key-red: #f2c9c9;
    --key-orange: #f2dec9;
    --key-yellow: #f2f1c9;
    --key-green: #c9f2cd;
    --key-blue: #cac9f2;
    --key-util: #d0d6d2;
    ;
    --highlighted-red: #b32e2e;
    --highlighted-orange: #b3792e;
    --highlighted-yellow: #9ea600;
    --highlighted-green: #2eb339;
    --highlighted-blue: #2e46b3;
    --highlighted-util: #454545;

    --slim-white: #F2F2F2;
    --slim-black: #2b2b2b;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* border: 3px solid red; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
}

html{
    /* border: 3px solid green; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

.App{
    /* border: 3px solid blue; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background-color: #F2F2F2;
}

#root{
    /* border: 3px solid yellow; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
}