*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* border: 3px solid red; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
}

html{
    /* border: 3px solid green; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
}

.App{
    /* border: 3px solid blue; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
}

#root{
    /* border: 3px solid yellow; */
    width: 100%;
    min-height: 100vh;
    height: max-content;
}