.button-form{
    width: 50%;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--primary-button-color);
    transition: all 150ms ease-in-out;
}

.button-form:focus{
    outline: 3px solid white;
}

.button-form:hover{
    background-color: var(--hover-primary-button-color);
}