.button-form{
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #0685cf;
    transition: outline 200ms ease-in-out;
}

.button-form:focus{
    outline: 3px solid white;
}

.button-form:hover{
    background-color: #0770ad;
}