.tutorial-content-title, .tutorial-description{
    text-align: center;
    padding: 15px;
    color: white;
}

.tutorial-content-container{
    padding-bottom: 1.5rem;
}

.menus-content-container{
    /* border: 3px solid red; */
    margin: 2rem 1rem;
}

.sub-content-forewords{
    margin-bottom: 1rem;
}

.content-menu{
    display: flex;
    flex-flow: column wrap;
}

.content-menu > h4{
    width: max-content;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.app-screenshot{
    width: 100%;
    height: 100%;
    margin: 1rem auto;
}

.formula{
    border: 1px solid #eb4034;
    margin: 1rem auto;
    border-radius: 0.25rem;
    padding: 0.5rem;
    text-align: center;
}