.drill-mode-container{

    --key-scale-width: 1.2rem;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid red; */
}

.word-wrapper{
    /* border: 3px solid green; */
    background-color: #f2f2f2;
    height: 30vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.word-wrapper::before,
.word-wrapper::after{
    /* background-color: purple; */
    position: absolute;
    content: "";
    display: inline;
    z-index: 10;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.word-wrapper::before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(242, 242, 242, 1));
}

.word-wrapper::after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(242, 242, 242, 1));    
}

.animated-text-container{
    width: max-content;
    font: 1.5rem monospace;
    padding: 0;
    white-space: nowrap;
    transition: all 100ms ease;
    overflow: visible;
    position: relative;
    left: 50%;
    display: flex;
    align-items: center;
}

.word-wrapper span{
    display: inline-block;
    /* border: 1px solid purple; */
    text-align: center;
    width: 1rem;
    height: 100%;
    transition: all 100ms ease;     
}

.pointer{
    background-color: red;
    z-index: 15;
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 50%;
    top: 55%;
}

.pointer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 98%;
    border-bottom: 10px solid red;
    border-left: 8.2px solid transparent;
    border-right: 8.2px solid transparent;
}

.current{
    font-weight: bold;
}

.word-true{
    color: #04ff00;
}

.word-false{
    /* color: #ff0000; */
    background-color: rgba(255, 0, 0, 0.5);
}

.text-hint-container{
    margin: 2rem 0 1.5rem 0;
    /* margin: 1rem 0; */
    background-color: var(--primary-color);
    color: #f2f2f2;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

.keyboard-wrapper{
    width: clamp(45rem, 70%, 70rem);
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--slim-white);
}

.keyboard-row{
    /* border: 3px solid green; */
    margin: 5px 0;
    display: flex;
    height: 3rem;
    /* justify-content: space-between; */
}

.key{
    display: inline-block;
    height: 100%;
    margin: 1px 3px;
    padding: 0.25rem;
    text-align: center;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.size-sm{
    width: calc(2.8rem + var(--key-scale-width));
    /* height: 2.3rem; */
    /* width: 7.14%; */
}

.size-md{
    /* width: 14.32%; */
    width: calc(4rem + var(--key-scale-width));
}

.size-lg{
    width: calc(5rem + var(--key-scale-width));
}

.size-exlg{
    width: calc(6rem + var(--key-scale-width));
}

.size-util{
    width: calc(3rem + var(--key-scale-width));
    /* height: 2.3rem; */
}

.space{
    flex-grow: 5;
}

.little-finger-key{
    background-color: var(--key-red);
    border: 1px solid var(--slim-black);
}

.ring-finger-key{
    background-color: var(--key-orange);
    border: 1px solid var(--slim-black);
}

.middle-finger-key{
    background-color: var(--key-yellow);
    border: 1px solid var(--slim-black);
}

.index-left-key{
    background-color: var(--key-green);
    border: 1px solid var(--slim-black);
}

.index-right-key{
    background-color: var(--key-blue);
    border: 1px solid var(--slim-black);
}

.util-key{
    background-color: var(--key-util);
}

.key-image-current{
    color: white;
    font-weight: bold;
}

.highlighted-little-finger{
    background-color: var(--highlighted-red);
}

.highlighted-ring-finger{
    background-color: var(--highlighted-orange);
}

.highlighted-middle-finger{
    background-color: var(--highlighted-yellow);
}

.highlighted-index-left{
    background-color: var(--highlighted-green);
}

.highlighted-index-right{
    background-color: var(--highlighted-blue);
}

.highlighted-util{
    background-color: var(--highlighted-util);
}

.typing-utilities{
    background-color: var(--primary-color);
    color: #f2f2f2;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: max-content;
    gap: 0.5rem;
}

.sub-utility{
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(243, 243, 243, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-utility > p{
    font-weight: bold;
}

.sub-utility > *{
    margin: 0 auto;
    text-align: center;
}

.developer-drill-tools{
    border: 3px solid green;
    margin-top: 1.5rem;
}

.drill-performance-result-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem 0.5rem;
}

.result-drill-container{
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: white;
    flex-basis: 40%;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.result-drill-container > p{
    margin: auto;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
}

.performance-unit{
    font-size: 1rem;
    font-weight: 600;
}

.drill-action-buttons{
    /* border: 3px solid red; */
    align-self: flex-start;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.action-button{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--primary-button-color);
    color: white;
    border-radius: 0.25rem;
    transition: background-color 150ms ease-in-out,
                outline 150ms ease-in-out;
}

.action-button:focus{
    outline: 3px solid white;
}

.action-button:hover{
    background-color: var(--hover-primary-button-color);
}

.action-button > *{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .keyboard-wrapper{
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .typing-utilities{
        width: 100%;
        flex-direction: column;
    }
}

